@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #ff8d58;
  color: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", serif;
}

.container {
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 40px;
  z-index: 10;
}

.navbar .logo {
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  transition: color 0.3s ease;
  padding: 5px 10px;
  overflow: hidden;
}

.navbar a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #ff8d58;
  transition: width 0.3s ease, left 0.3s ease;
}

.navbar a:hover::before {
  width: 100%;
  left: 0;
}

.navbar a:hover {
  color: #ff8d58;
  transform: scale(1.1); /* Slightly enlarges the link */
  transition: color 0.3s ease, transform 0.3s ease;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 200px 0;
  padding-bottom: 200px;
  position: relative;
  flex-wrap: wrap;
}

.hero .text-hero {
  width: 600px;
  margin-left: -400px;
  text-transform: capitalize;
}

.hero .text-hero p:first-of-type {
  font-size: 40px;
  font-weight: bold;
  margin: 40px 0;
  color: #ff8d58;
}

.hero .text-hero p:nth-of-type(2) {
  text-align: justify;
}

.hero .img-hero img {
  width: 1000px;
  position: absolute;
  right: 200px;
  top: 0;
}

.button-hero {
  display: flex;
  margin: 20px 0;
}

.button-hero .buynow {
  display: block;
  padding: 20px 60px;
  border-radius: 8px;
  background-color: #ff8d58;
  color: #fff;
}

.button-hero .buynow:hover {
  cursor: pointer;
}

.button-hero .readmore {
  display: block;
  padding: 20px 60px;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 20px;
  border: 1px solid black;
}

/* Content Keunggulan */
.keunggulan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 80px;
  flex-wrap: wrap;
}

.keunggulan .slogan {
  font-size: 40px;
  margin-bottom: 80px;
  text-align: center;
  margin-top: 100px;
}

.keunggulan .card-keunggulan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.keunggulan .card-keunggulan .list-keunggulan {
  margin: 20px;
  padding: 40px;
  width: 400px;
  height: 300px;
  text-align: center;
}

.keunggulan .card-keunggulan .list-keunggulan .icon {
  font-size: 40px;
  margin: 40px 0;
}

.keunggulan .card-keunggulan .list-keunggulan h3 {
  margin: 20px 0;
}

/* Card Orange */
.card-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 1070px;
  left: 300px;
  position: absolute;
}

.card-orange .card {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  margin: 0 20px;
  width: 400px;
  height: 140px;
  background-color: #ff8d58;
  border-radius: 8px;
  font-size: 30px;
  justify-content: center;
}

.card-orange .card i {
  margin-bottom: 10px;
}

.card-orange .card p {
  text-align: center;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
  border-radius: 8px;
}

/* Content Why */
.why {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px;
  padding: 40px 0;
}

.why .why-img img {
  width: 600px;
}

.text-why {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}

.text-why .title {
  font-size: 25px;
}

.text-why .why-benefit {
  display: flex;
  flex-direction: column;
}

.text-why .button {
  margin-top: 20px;
  display: flex;
}

.text-why .button .message {
  background-color: #ff8d58;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
}

/* Content-Testimoni */
.testimoni {
  background-color: #f7f9fc;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.text-testimoni h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 60px;
  font-size: 30px;
}

.next-text {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.next-text .button {
  background-color: #ff8d58;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.testi-slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card-testi {
  display: none; /* Hide all cards initially */
  width: 100%;
  max-width: 60%; /* Optional: limit the width of the testimonial */
  height: 400px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 24px;
}

.card-testi:hover {
  box-shadow: 5px 5px 5px #ff8d58;
}

.card-testi p {
  margin: 20px 0 40px 0;
  padding: 0 60px;
}

/* Style untuk bintang */
.star-testi i {
  color: #ffc107;
  font-size: 20px;
  opacity: 0; /* Bintang tidak terlihat di awal */
  transform: scale(0); /* Ukuran bintang diatur jadi 0 */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Animasi opacity dan transform */
  font-size: 40px;
  margin-top: 80px;
}

/* Aktifkan animasi saat bintang terlihat */
.star-testi.animate i {
  opacity: 1;
  transform: scale(1);
}

.star-testi.animate i:nth-child(1) {
  transition-delay: 0.1s;
}

.star-testi.animate i:nth-child(2) {
  transition-delay: 0.2s;
}

.star-testi.animate i:nth-child(3) {
  transition-delay: 0.3s;
}

.star-testi.animate i:nth-child(4) {
  transition-delay: 0.4s;
}

.star-testi.animate i:nth-child(5) {
  transition-delay: 0.5s;
}

.card-testi.active {
  display: block; /* Only show the active card */
  margin: 40px 0;
  padding: 0 0px;
}

.profil-testi {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 15px;
  justify-content: center;
}

.profil-testi img {
  border-radius: 50%;
}

.profil {
  margin-left: 10px;
}

.profil h3 {
  margin: 0;
  font-size: 16px;
}

.profil small {
  color: #777;
}

/* Content Slogan */
.slogan-besar {
  padding: 80px 0;
  background-color: #ff8d58;
  color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slogan-besar .content-slogan {
  width: 900px;
  margin: 40px;
  text-align: center;
}

.slogan-besar .content-slogan h1 {
  font-size: 35px;
}

.slogan-besar .content-slogan p {
  margin: 40px 0;
}

.slogan-besar .content-slogan .button-slogan {
  background-color: #fff;
  display: inline-block;
  padding: 10px 15px;
  color: #ff8d58;
  border-radius: 5px;
}

.slogan-besar .content-slogan .button-slogan:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px #000;
  transition: all 0.3s;
}

/* Content Footer */
.footer {
  background-color: #000;
  color: #fff;
  padding: 150px;
  display: flex;
  gap: 80px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.footer .footer-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .footer-1 .sosmed {
  display: flex;
  gap: 20px;
}

.footer .footer-1 .sosmed .link-sosmed {
  display: flex;
  gap: 20px;
}

.footer .footer-1 .sosmed .link-sosmed a {
  color: #fff;
}

.footer .footer-2,
.footer .footer-3,
.footer .footer-4 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .footer-2 a,
.footer .footer-3 a,
.footer .footer-4 a {
  text-decoration: none;
  color: #fff;
}

/* Content Product */
.produk {
  padding: 80px;
}

.produk h1 {
  margin-bottom: 80px;
}

.card-produk {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card-produk .card {
  width: 300px;
  margin-left: 20px;
}
.card-produk .card img {
  width: 300px;
  height: 300px;
  margin: 10px 0;
  transition: all 1s;
}

.card-produk .card-img {
  background-color: #dfdfdf;
  filter: brightness(110%);
}

.card-produk .card img:hover {
  border-radius: 10px;
  cursor: pointer;
  transform: scale(1.3);
}

.card-produk .card p {
  text-align: justify;
  margin: 15px 0;
}

.card-produk .card .button {
  display: block;
  background-color: #ff8d58;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: all 1s;
}

.card-produk .card .button:hover {
  background-color: #f35a14;
  cursor: pointer;
}

/* Responsif HP */
@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  .card-orange {
    position: static;
    margin: 40px 0;
  }
  .card-orange .card {
    padding: 10px 15px;
  }
  .hero {
    position: static;
    padding-bottom: 0;
  }
  .hero .img-hero img {
    position: static;
    width: 300px;
  }
}
