* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 40px;
}

.navbar .logo {
  font-weight: bold;
  font-size: 30px;
}

.navbar a {
  margin: 0 20px;
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 200px 0;
  padding-bottom: 200px;
}

.hero .text-hero {
  width: 600px;
  margin-left: -400px;
  text-transform: capitalize;
}

.hero .text-hero p:first-of-type {
  font-size: 50px;
  font-weight: bold;
  margin: 40px 0;
}

.hero .text-hero p:nth-of-type(2) {
  text-align: justify;
}

.hero .img-hero img {
  width: 1500px;
  position: absolute;
  right: 0;
  top: 0;
}

.button-hero {
  display: flex;
  margin: 20px 0;
}

.button-hero .buynow {
  display: block;
  padding: 20px 60px;
  border-radius: 8px;
  background-color: #ff8d58;
  color: #fff;
}

.button-hero .readmore {
  display: block;
  padding: 20px 60px;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 20px;
  border: 1px solid black;
}

/* Content Keunggulan */
.keunggulan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 80px;
  flex-wrap: wrap;
}

.keunggulan .slogan {
  font-size: 40px;
  margin-bottom: 80px;
  text-align: center;
  margin-top: 100px;
}

.keunggulan .card-keunggulan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.keunggulan .card-keunggulan .list-keunggulan {
  margin: 20px;
  padding: 40px;
  width: 400px;
  height: 300px;
  text-align: center;
}

.keunggulan .card-keunggulan .list-keunggulan .icon {
  font-size: 40px;
  margin: 40px 0;
}

.keunggulan .card-keunggulan .list-keunggulan h3 {
  margin: 20px 0;
}

/* Card Orange */
.card-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: 1050px;
  left: 300px;
  position: absolute;
}

.card-orange .card {
  display: flex;
  flex-direction: column;
  padding: 80px 40px;
  margin: 0 20px;
  width: 400px;
  height: 140px;
  background-color: #ff8d58;
  border-radius: 8px;
  font-size: 30px;
  justify-content: center;
}

.card-orange .card i {
  margin-bottom: 10px;
}

/* Content Why */
.why {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 80px;
  padding: 40px 0;
}

.why .why-img img {
  width: 600px;
}

.text-why {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
}

.text-why .title {
  font-size: 30px;
}

.text-why .why-benefit {
  display: flex;
  flex-direction: column;
}

.text-why .button {
  margin-top: 20px;
  display: flex;
}

.text-why .button .message {
  background-color: #ff8d58;
  padding: 15px 20px;
  border-radius: 8px;
  color: #fff;
}

/* Content-Testimoni */
.testimoni {
  background-color: #f0efef;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.testimoni .text {
  font-size: 40px;
}

.testimoni .text-testimoni {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimoni .text-testimoni .next-text {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.testimoni .testi-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimoni .testi-slider .card-testi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  padding: 80px;
  margin: 80px;
  background-color: #fff;
}

.testimoni .profil {
  display: flex;
}
